<%- include('partials/navbar.ejs') %>

<form id="loginForm" method="POST" action="/login">
  <div class="container text-center mt-5 col-lg-4">
    <h5>Welcome to NearByNexus! Please Login</h5>
  </div>
  <div class="container col-lg-4 mt-3 bg-white rounded">
    <% if (typeof message !== 'undefined') { %>
      <div class="alert alert-success">
        <%= message %>
      </div>
    <% } %>
    <% if (typeof error !== 'undefined') { %>
      <div class="alert alert-danger">
        <%= error %>
      </div>
    <% } %>
    <br>
    <label for="email" class="col-lg-12">Email</label>
    <div class="input-group col-lg-12 mb-3">
      <input
        id="email"
        type="text"
        class="form-control"
        placeholder="Email"
        name="email"
        
      />
    </div>

    <label for="password" class="col-lg-12">Password</label>
    <div class="input-group col-lg-12 mb-3">
      <input
        id="password"
        type="password"
        class="form-control"
        placeholder="Password"
        name="password"
        
      />
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
      <hr />
      <input
        type="submit"
        class="btn btn-primary btn-lg col-12"
        value="Login"
        name="buyer_login"
      />
    </form>
      <!-- <p style="color:black;"><a href="user.php" class="text-dark text-right">Forgot Password?</a></p> -->
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
      <hr />
      
      <p><button type="button" class="btn btn-sm btn-danger col-12" data-bs-toggle="modal" data-bs-target="#myModal">Forgot Password</button></p>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content text-center">
        <div class="modal-header h5 text-white bg-primary justify-content-center">
            Password Reset
        </div>
        <div class="modal-body px-5">
          <form action = "/forget-password" method="POST">
            <p class="py-2">
                Enter your email and you'll get an email with instructions to reset your password.
            </p>
            <label class="visually-hidden" for="typeEmail">Email</label>
            <div class="form-outline">
                <input type="email" name="email" id="typeEmail" class="form-control my-3" placeholder="Enter email" />
            </div>
            <input type="submit" id="submitBtn" value="Send reset email"  class="btn btn-primary w-100">
          </form>
            <div class="d-flex justify-content-between mt-4">
                <a class="" href="/login">Login</a>
                <a class="" href="/register">Register</a>
            </div>
        </div>
    </div>
      
    </div>
  </div>
      
    </div>
    <br />
  </div>

  <div class="container text-right col-lg-4 mt-2 text-center">
    <h6>New Member? <a href="/register">Register</a> here.</h6>
  </div>
  <br />
  <br />
  <script src="./js/loginValidation.js"></script>
<%- include('partials/footer.ejs') %>