<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
	<title>Registration</title>
</head>
<body class="bg-light">

<form method="POST">
	<div class="container text-center mt-5 col-lg-4"><h5>Create your NearByNexus Account</h5></div>
	<div class="row col-lg-12 mod-register justify-content-center mt-3">
		<div class="col-lg-4 mod-register-1 bg-white">
		<br>
		<label class="col-lg-12">Fullname</label>
		<div class="input-group col-lg-12 mb-3">
  		<input type="text" class="form-control" placeholder="Please enter your fullname" name="fullname">
		</div>

		<label class="col-lg-12">Email</label>
		<div class="input-group col-lg-12 mb-3">
  		<input type="email" class="form-control" placeholder="Please enter your email" name="email">
		</div>

		<label class="col-lg-12">Phone</label>
		<div class="input-group col-lg-12 mb-3">
  		<input type="text" class="form-control" placeholder="Enter your phone number" name="phone">
		</div>

		<br>
		</div>
		 <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->
		<div class="col-lg-4 mod-register-2 bg-white">
		<br>
		<label class="col-lg-12">Birthday</label>
		<div class="input-group col-lg-12 mb-3">
  		<input type="date" class="form-control" placeholder="Birth Date" name="birth_date">
		</div>

		<label class="col-lg-12">Password</label>
		<div class="input-group col-lg-12 mb-3">
  		<input type="password" class="form-control" placeholder="Minimum 8 characters with number and a letter" name="password">
		</div>

		<div class="col-lg-12 mt-2">
		<hr>
		<input type="submit" class="btn btn-success btn-lg col-lg-12" value="Register" name="buyer_register">
		</div>

		</div>
	</div>
	<div class="container text-right col-lg-8 mt-2"><h6>Already member? <a href="login.html">Login</a> here.</h6></div>
	<br>
	</form>

</body>
</html>