<%- include('partials/navbar.ejs') %>
<form method="POST" action="/change-password">
 
  <div class="container text-center mt-5 col-lg-4">
    <% if (typeof error !== 'undefined') { %>
      <div class="alert alert-danger alert-dismissible fade show">
        <%= error %>
      </div>
    <% } %>
    <h5>Enter your new password</h5>
  </div>
  <div class="container col-lg-4 mt-3 bg-white rounded">
    <br>
    <input
    type="hidden"
    class="form-control"
    placeholder="Enter New Password"
    name="token"
    value="<%= token %>"
  />
    <label for="demo" class="col-lg-12">New Password</label>
    <div class="input-group col-lg-12 mb-3">
      <input
        type="password"
        class="form-control"
        placeholder="Enter New Password"
        name="password"
        required
      />
    </div>

    <label for="demo" class="col-lg-12">Confirm New Password</label>
    <div class="input-group col-lg-12 mb-3">
      <input
        type="password"
        class="form-control"
        placeholder="Confirm New Password"
        name="confirmPassword"
        required
      />
    </div>

    <div class="col-lg-12">
      <hr />
      <input
        type="submit"
        class="btn btn-primary btn-lg col-lg-12"
        value="Set Password"
        name="set_password"
      />
    </form>
    </div>
    <br />
  </div>


<%- include('partials/footer.ejs') %>